.color {
  transition-property: color;
  transition-duration: 0.7s;
}


.linkImage {
  transition-property: height;
  transition-duration: 0.4s;
}


.scaleText {
  transition-property: font-size;
  transition-duration: 0.2s;

  font-family: 'Courier New' 

}
.tagBtn {
  transition-property: padding;
  transition-duration: 0.1s;
}

.imageStack {
  position: relative;
  display: flex;
  align-items: center;
}
.backImage {
  position: relative;
  top: 2px;
  left: 0;
}
.linkImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration:none;
  font-weight: bold;
}

.tagBtn {
  border: 0px solid transparent;
}

.description{
  font-size: 1.1em;
    
  font-family: 'Courier New' 
}

.commonColor{
  background-color: #8a2be2;
}

.icon {
  vertical-align: top;
}

@media only screen and (max-width: 800px) 
{
  .CenterAll{
    padding-left:20px;
  }
}
@media only screen and (min-width: 800px) {
  .CenterAll{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}